/* Write your code here. */

.navbar {
  background-image: linear-gradient(140deg, #9796f0, #fbc7d4);
  padding: 5px 6% 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emoji-logo-card {
  display: flex;
  align-items: center;
}

.emoji-logo-img {
  width: 40px;
}

.title {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
}

.score-card {
  display: flex;
  align-items: center;
}

.score-board {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-right: 25px;
}
